body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1em;
    margin-left: 15%;
}

#judul{
    font-weight: bold;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 70%;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    font-size: 1.2em;
}

#hero {
    background-image: url('/assets/sample.jpg');
    background-size: cover;
    color: white;
    padding: 13% 0;
}

#hero h1 {
    padding-left: 65%;
    font-size: 50px;
}

#hero p {
    padding-left: 65%;
    font-size: 20px;
}

#desc img {
    width: 40%;
    margin-top: 20px;
    float: right;
}

#menu {
    text-align: center;
    padding: 50px 0;
}

.textbox {
    margin-left: 20px;
}

.textbox h2 {
    font-size: 50px;
}

.menu-item,
.menu-item2 {
    margin-left: 20px;
    margin-bottom: 50px;
}

.menu-item img,
.menu-item2 img {
    width: 20%;
    border-radius: 8px;
}

.menu-item h3,
.menu-item p,
.menu-item .price,
.menu-item2 h3,
.menu-item2 p,
.menu-item2 .price2 {
    display: flex;
}

.menu-item .price {
    font-size: 1.2em;
    color: #006241;
}

#locations {
    background-color: #f4f4f4;
    padding: 50px 0;
}

#locations ul {
    list-style: none;
    padding: 0;
}

#locations li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
